:root {
    --color-top-navbar: #202020;
    --color-bottom-navbar: #464C4B;
    --color-letra: whitesmoke;
    --color-background-create-button-navbar: rgb(117, 117, 117);
    --color-background-create-button-navbar-hover: rgb(211, 211, 211);
    --color-background-back-button-navbar-hover: #666666;
    --color-background-main: #464C4B;
    --color-black: black;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    border: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--color-top-navbar), var(--color-bottom-navbar));
    height: 11vh;
}

.div-logo-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-logo-titulo .logo-adapti {
    width: 80px;
    height: 80px;
    margin-left: 5em;
}

.div-logo-titulo .logo-adapti:hover {
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.4s ease-in-out 0s;
}

.div-logo-titulo h6 {
    color: var(--color-letra);
    font-size: 1.9em;
    margin-left: 1.3em;
}

.nav-items {
    list-style: none;
    display: flex;
    margin-right: 5em;
}

.back-button, .create-button {
    color: var(--color-letra);
    text-decoration: none;
    font-weight: 900;
    transition: all .3s;
    padding: .5em;
}

.create-button {
    letter-spacing: 1px;
    margin-left: 1em;
    background-color: var(--color-background-create-button-navbar);
    /* padding: .3em; */
    border-radius: 5px;
}

.create-button:hover {
    background-color: var(--color-background-create-button-navbar-hover);
    color: var(--color-black);
    transition: all .3s;
}

.back-button:hover{
    color: var(--color-background-back-button-navbar-hover);
}

.main-container {
    background-color: var(--color-background-main);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to top, var(--color-top-navbar), var(--color-bottom-navbar));
    height: 10vh;
    bottom: 0;
}

.footer-container .development {
    color: var(--color-letra);
    font-family: sans-serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    margin-left: 5em;
    font-weight: 600;
}

.footer-items {
    list-style: none;
    display: flex;
    margin-right: 4em;
}

.footer-items li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.footer-items a {
    color: var(--color-letra);
    text-decoration: none;
}

.footer-items img:hover {
    transform: scale(1.2);
    transition: all .2s;
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {

    /* NAV */
    .div-logo-titulo .logo-adapti {
        width: 60px;
        height: 60px;
        margin-left: 3em;
    }

    .div-logo-titulo h6 {
        font-size: 1.5em;
    }

    .back-button, .create-button {
        font-size: 13px;
    }

    .nav-items {
        margin-right: 1em;
    }

    .nav-items li {
        margin-left: 1.5em;
    }

    /* FOOTER */
    .footer-container .development {
        margin-left: 2.5em;
        font-size: .8em;
    }

    .footer-items {
        margin-right: 2.5em;
    }

    .footer-items li {
        letter-spacing: 2px;
        margin-left: .9em;
    }
}

@media (max-width: 950px) {
    .create-button {
        font-size: 14px;
    }
}

@media (max-width: 750px) {
    .div-logo-titulo .logo-adapti {
        width: 45px;
        height: 45px;
    }

    .div-logo-titulo h6 {
        margin-left: .5em;
        font-size: 1.4em;
    }

    .nav-items a {
        font-size: .8em;
    }
}